.link-registration {
  @include font-parametrs($font-default, 15, 600, normal, 1.2);
  letter-spacing: 0.01em;
  color: $color-white;
  background-color: $color-green;
  border-radius: 8px;
  padding: 14px 28px 16px 28px;
  text-decoration: none;
  transition: $nice-ease;

  &:hover {
    background-color: $color-darkgreen;
  }

  &_popup {
    border: none;
    margin: 253px 0 0 0;
    cursor: pointer;
  }

  &_footer {
    display: inline-block;
    margin: 0 0 60px 0;
  }

  @include mq(max-width $mq-1024) {
    &_header {
      @include font-parametrs($font-default, 13, 600, normal, 1.38);
      padding: 12px 24px 14px 24px;
    }

    &_popup {
      margin: 242px 0 15px 0;
    }
  }

  @include mq(max-width $mq-767) {
    @include font-parametrs($font-default, 10, 600, normal, 1.8);
    padding: 6px 16px;

    &_header {
      margin-left: auto;
    }

    &_footer {
      margin: 0 0 40px 0;
    }

    &_popup {
      margin: 142px 0 15px 0;
    }
  }
}
