// Fonts
$font-default: "Noto Sans", Arial, sans-serif;

// Color
$color-black: #000;
$color-white: #fff;
$color-green: #009465;
$color-darkgreen: #066c4c;
$color-purple: #5036e6;
$color-gray: #8e9199;
$color-black-input: #1a1a1a;
$color-black-input-hover: rgba(26, 26, 26, 0.6);

// Media width

$mq-1200: 1200px;
$mq-1024: 1024px;
$mq-767: 767px;
$mq-680: 680px;
$mq-640: 640px;
$mq-576: 576px;
// Transition

$nice-ease: all 0.2s ease-out;
